# ShellCheck configuration for ubuntu-bootstrap
# Disable some checks that conflict with our coding style

# SC1090: Can't follow non-constant source
disable=SC1090

# SC1091: Not following sourced file
disable=SC1091

# SC2034: Variable appears unused
# (We have variables set for external scripts)
disable=SC2034
